# Electron 镜像配置（使用淘宝镜像）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Electron 自定义目录配置
electron_custom_dir={{ version }}

# Node-gyp 配置
node_gyp_mirror=https://npmmirror.com/mirrors/node/

# Canvas 预构建二进制文件镜像
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
